@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600&display=swap');

*{
    padding:0;
    margin:0;

}
nav{
    display: flex;
    font-family: 'Poppins',sans-serif;
    justify-content:space-between;
    padding:0px 50px;
    height: 50px;
    align-items: center;
    background-color:#222831;
    color:#EEEEEE;
    font-weight: 500;

}
.logo{
    font-size: 25px;
    cursor: pointer;
}
nav ul{
    display: flex;

}
nav ul li{
    list-style: none;
    
    font-size: 15px;
}
nav ul li :hover{
    background-color: #EEEEEE;
    color:#222831;
    border-radius: 2px;
    cursor: pointer;
}
.active{
    background-color: #EEEEEE;
    color:#222831;
    border-radius: 2px;
}
nav ul li a{
    transition: all 0.3s ease;
    text-decoration: none;
    color:#EEEEEE;
    margin:0px 10px;
    padding:1px 8px;
}
h1{
    text-align: center;
    margin:0px 4px;
    font-family: 'poppins',sans-serif;
}
h2,p{
    font-family:'vollkorn',sans-serif;
    margin:20px;
}
